{% extends "ProyectoWebApp/base.html" %}  

{% load static %}

{% block content %} 


<div class="contenedorFormularios"> 

    {% if "valido" in request.GET %}
        <p style="color: antiquewhite;">Información enviada correctamente.</p> 
    {% endif %}


    <form action="" method="POST" style="text-align: center;" >
        {% csrf_token %}
        <table style="color:antiquewhite; margin: 20px auto;" >{{formulario.as_table}}</table> 
        <input type="submit" value="Enviar" style="width:150px;"> 
    </form> 


</div> 


{% endblock %} 