{% extends "ProyectoWebApp/base.html" %}  

{% load static %}

{% block content %} 

  {%for post in posts%} 

   <section class="page-section clearfix">
    <div class="container"> 
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width:50%;"> 
        <div class="intro-text left-0 text-center bg-faded p-5 "> 
          <h2 class="section-heading mb-4">  
            <span class="section-heading-lower">{{post.titulo}}</span> 
          </h2>
          <p>
            <span class="section-heading-upper py-lg-3">{{post.contenido}}</span> 
          </p>
        <div style="text-align:left; font-size: 0.8em;"> 
          Autor: {{post.autor}} 
        </div> 
         
        </div>
      </div>
    </div>
  </section>

  {% endfor %}

  <section>
    <div style="width: 75%; ; margin:auto; text-align: center; color: antiquewhite;">
      Categorías: &nbsp;&nbsp;&nbsp;
      {%for post in posts%}

        {% for categoria in post.categorias_post.all %} 

            {{categoria.nombre}}  &nbsp;&nbsp;&nbsp;

        {% endfor %}

      {% endfor %}

    </div>   

  </section>

{% endblock %} 


